*{
    margin: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    height: 100vh;
    width: 100vw;
}

.icon--container{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    margin: 0.5rem;
    border: 4px solid #222;
    border-radius: 25%;
}
.icon{
    width: 3rem;
    height: 3rem;
}

.table{
    color: #eee;
    border-collapse: collapse;
    border: 4px solid #111;
    background-color: #222;
}

.table__title{
    height: 3rem;
}

.table__head{
    background-color: #ffea00;
    color: #222;
}

.head__firstRow--container{
    text-align: left;
}

.firstRow__title{
    display: inline-block;
}

.head__secondRow{
    height: 2rem;
}

.column{
    height: 2rem;
}

@keyframes flapRotation {
    0%   {opacity: 0; background-color: #333;}
    50%  {opacity: 0; background-color: #111;}
    100%  {opacity: 1; background-color: #333;}
  }

.flap{
    width: 1.1rem;
    min-width: 1.1rem;
    max-width: 1.1rem;
    text-align: center;
    vertical-align: middle;
    transition: all 1s;
    border: 1px solid black;
    background-color: #333
}

.flap--rotate{
    transform: rotateX(360deg);
    animation-name: flapRotation;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.flap--container{
    height: 100%;
    width: 100%;
    border: none;
    border-collapse: collapse;
    background-color: #333;
}